In [1]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
results = []

results.append(pd.read_csv('result1.csv'))
results.append(pd.read_csv('result2.csv'))
results.append(pd.read_csv('result3.csv'))
results.append(pd.read_csv('result4.csv'))
results.append(pd.read_csv('result5.csv'))
results.append(pd.read_csv('result6.csv'))
results.append(pd.read_csv('result7.csv'))
results.append(pd.read_csv('result8.csv'))
results.append(pd.read_csv('result9.csv'))

In [10]:
final_result = pd.concat(results)

In [12]:
isduplicated = final_result.duplicated("row_id")

In [15]:
isduplicated[isduplicated == True]

4328      True
39652     True
40916     True
96431     True
123162    True
128640    True
181775    True
213544    True
314179    True
349723    True
351876    True
442927    True
454377    True
456867    True
476788    True
485284    True
485991    True
490722    True
517457    True
606344    True
639018    True
656785    True
705689    True
715638    True
751556    True
821975    True
830172    True
842019    True
900090    True
41177     True
          ...
485614    True
504910    True
519287    True
533671    True
585003    True
588907    True
591644    True
631089    True
667699    True
683903    True
709101    True
713531    True
718049    True
746864    True
752152    True
756399    True
787201    True
789107    True
837108    True
844867    True
847980    True
848087    True
871332    True
875740    True
886237    True
918222    True
932840    True
933164    True
942711    True
984943    True
dtype: bool

In [16]:
len(isduplicated[isduplicated == True].index)

331

In [17]:
final_result.drop_duplicates("row_id", inplace= True)

In [19]:
isduplicated = final_result.duplicated("row_id")

In [20]:
isduplicated[isduplicated == True]

Series([], dtype: bool)

In [22]:
final_result.sort_values(['row_id'], inplace=True)

In [23]:
final_result.head()

   row_id                           place_id
0       0   2647925924 7652380351 6253981821
0       1   5801740503 2465239230 1271980400
1       2   2516481553 7862615088 4147895777
1       3   7995458948 3243409743 8393706174
0       4   4764406629 8277155346 3661789744

In [24]:
final_result.tail()

         row_id                           place_id
947031  8607225   6388207576 1450752225 5831495752
947032  8607226   9482625693 8203932359 6379437992
989970  8607227   9466512367 3362837051 8431688574
935702  8607228   6645978051 8822589364 2649611830
989971  8607229   1221929656 2341683842 4358647823

In [26]:
final_result.index = np.arange(0,8607230)

In [27]:
final_result.tail()

          row_id                           place_id
8607225  8607225   6388207576 1450752225 5831495752
8607226  8607226   9482625693 8203932359 6379437992
8607227  8607227   9466512367 3362837051 8431688574
8607228  8607228   6645978051 8822589364 2649611830
8607229  8607229   1221929656 2341683842 4358647823

In [29]:
final_result.to_csv('final.csv', index=False, index_label=False)

Submission: 0.52486