In [19]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

app_events = pd.read_csv('./input/app_events.csv')
app_labels = pd.read_csv('./input/app_labels.csv', index_col='app_id')
events = pd.read_csv('./input/events.csv', index_col='event_id')
gender_age_test = pd.read_csv('./input/gender_age_test.csv', index_col='device_id')
gender_age_train = pd.read_csv('./input/gender_age_train.csv', index_col='device_id')
label_categories = pd.read_csv('./input/label_categories.csv', index_col='label_id')

In [51]:
gender_age_test['testrow'] = np.arange(gender_age_test.shape[0])
gender_age_train['trianrow'] = np.arange(gender_age_train.shape[0])

In [12]:
events.head()

                    device_id            timestamp  longitude  latitude
event_id
1           29182687948017175  2016-05-01 00:55:25     121.38     31.24
2        -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
3        -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
4        -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
5        -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

In [13]:
app_events.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [15]:
app_labels.head()

                      label_id
app_id
 7324884708820027918       251
-4494216993218550286       251
 6058196446775239644       406
 6058196446775239644       407
 8694625920731541625       406

In [16]:
label_categories.head()

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

In [17]:
label_categories.tail()

     label_id             category
925      1017  Heritage Foundation
926      1018       Direct Banking
927      1019  Internet Securities
928      1020     Bank Credit Card
929      1021   Internet Insurance

In [32]:
from sklearn.preprocessing import LabelEncoder
appencoder = LabelEncoder().fit(app_events.app_id)
app_events['app'] = appencoder.transform(app_events.app_id)
napps = len(appencoder.classes_)
print(napps)

In [35]:
deviceapps = (app_events.merge(events[['device_id']], how='left', left_on='event_id', right_index=True))

In [36]:
deviceapps.head()

,event_id,app_id,is_installed,is_active,app,device_id
0,2,5927333115845830913,1,1,15408,-6401643145415154744
1,2,-5720078949152207372,1,0,3384,-6401643145415154744
2,2,-1633887856876571208,1,0,7620,-6401643145415154744
3,2,-653184325010919369,1,1,8902,-6401643145415154744
4,2,8693964245073640147,1,1,18686,-6401643145415154744

In [49]:
gb = deviceapps.groupby(['device_id', 'app'])['app'].agg(['size'])

In [50]:
gb

                            size
device_id            app
-9222956879900151005 548      18
                     1096     18
                     1248     26
                     1545     12
                     1664     18
                     1848     32
                     2236     28
                     2350     28
                     2626     27
                     3384     30
                     4227     18
                     4409     19
                     4832     18
                     5076     26
                     5253     18
                     5506     18
                     5559      1
                     5884     18
                     6195     21
                     6756     19
                     7378     26
                     7586     18
                     7591     15
                     7673     18
                     7684     18
                     7735     18
                     7774     20
                     8137     21
                     8198     20
                     8372     18
...                          ...
 9222355582733155698 18465     2
                     18686     2
                     18924     2
 9222539910510672930 1576      1
                     1752      1
                     3259      1
                     3379      1
                     4110      1
                     4156      1
                     4597      1
                     5338      1
                     6336      1
                     7409      1
                     8885      1
                     9784      1
                     10217     1
                     11441     1
                     13094     1
                     13325     1
                     13378     1
                     13919     1
                     14013     1
                     14072     1
                     14398     1
                     16891     1
                     17358     1
                     17587     1
                     18039     1
                     18686     1
                     18837     1

[2369025 rows x 1 columns]

In [59]:
gbmerged = gb.merge(gender_age_train[['trianrow']], how='left', left_index=True, right_index=True)

In [60]:
gbmerged

                            size  trianrow
device_id            app
-9222956879900151005 548      18   21594.0
                     1096     18   21594.0
                     1248     26   21594.0
                     1545     12   21594.0
                     1664     18   21594.0
                     1848     32   21594.0
                     2236     28   21594.0
                     2350     28   21594.0
                     2626     27   21594.0
                     3384     30   21594.0
                     4227     18   21594.0
                     4409     19   21594.0
                     4832     18   21594.0
                     5076     26   21594.0
                     5253     18   21594.0
                     5506     18   21594.0
                     5559      1   21594.0
                     5884     18   21594.0
                     6195     21   21594.0
                     6756     19   21594.0
                     7378     26   21594.0
                     7586     18   21594.0
                     7591     15   21594.0
                     7673     18   21594.0
                     7684     18   21594.0
                     7735     18   21594.0
                     7774     20   21594.0
                     8137     21   21594.0
                     8198     20   21594.0
                     8372     18   21594.0
...                          ...       ...
 9222355582733155698 18465     2       NaN
                     18686     2       NaN
                     18924     2       NaN
 9222539910510672930 1576      1       NaN
                     1752      1       NaN
                     3259      1       NaN
                     3379      1       NaN
                     4110      1       NaN
                     4156      1       NaN
                     4597      1       NaN
                     5338      1       NaN
                     6336      1       NaN
                     7409      1       NaN
                     8885      1       NaN
                     9784      1       NaN
                     10217     1       NaN
                     11441     1       NaN
                     13094     1       NaN
                     13325     1       NaN
                     13378     1       NaN
                     13919     1       NaN
                     14013     1       NaN
                     14072     1       NaN
                     14398     1       NaN
                     16891     1       NaN
                     17358     1       NaN
                     17587     1       NaN
                     18039     1       NaN
                     18686     1       NaN
                     18837     1       NaN

[2369025 rows x 2 columns]

In [61]:
gbmerged = gbmerged.reset_index()

In [62]:
gbmerged

                   device_id    app  size  trianrow
0       -9222956879900151005    548    18   21594.0
1       -9222956879900151005   1096    18   21594.0
2       -9222956879900151005   1248    26   21594.0
3       -9222956879900151005   1545    12   21594.0
4       -9222956879900151005   1664    18   21594.0
5       -9222956879900151005   1848    32   21594.0
6       -9222956879900151005   2236    28   21594.0
7       -9222956879900151005   2350    28   21594.0
8       -9222956879900151005   2626    27   21594.0
9       -9222956879900151005   3384    30   21594.0
10      -9222956879900151005   4227    18   21594.0
11      -9222956879900151005   4409    19   21594.0
12      -9222956879900151005   4832    18   21594.0
13      -9222956879900151005   5076    26   21594.0
14      -9222956879900151005   5253    18   21594.0
15      -9222956879900151005   5506    18   21594.0
16      -9222956879900151005   5559     1   21594.0
17      -9222956879900151005   5884    18   21594.0
18      -9222956879900151005   6195    21   21594.0
19      -9222956879900151005   6756    19   21594.0
20      -9222956879900151005   7378    26   21594.0
21      -9222956879900151005   7586    18   21594.0
22      -9222956879900151005   7591    15   21594.0
23      -9222956879900151005   7673    18   21594.0
24      -9222956879900151005   7684    18   21594.0
25      -9222956879900151005   7735    18   21594.0
26      -9222956879900151005   7774    20   21594.0
27      -9222956879900151005   8137    21   21594.0
28      -9222956879900151005   8198    20   21594.0
29      -9222956879900151005   8372    18   21594.0
...                      ...    ...   ...       ...
2368995  9222355582733155698  18465     2       NaN
2368996  9222355582733155698  18686     2       NaN
2368997  9222355582733155698  18924     2       NaN
2368998  9222539910510672930   1576     1       NaN
2368999  9222539910510672930   1752     1       NaN
2369000  9222539910510672930   3259     1       NaN
2369001  9222539910510672930   3379     1       NaN
2369002  9222539910510672930   4110     1       NaN
2369003  9222539910510672930   4156     1       NaN
2369004  9222539910510672930   4597     1       NaN
2369005  9222539910510672930   5338     1       NaN
2369006  9222539910510672930   6336     1       NaN
2369007  9222539910510672930   7409     1       NaN
2369008  9222539910510672930   8885     1       NaN
2369009  9222539910510672930   9784     1       NaN
2369010  9222539910510672930  10217     1       NaN
2369011  9222539910510672930  11441     1       NaN
2369012  9222539910510672930  13094     1       NaN
2369013  9222539910510672930  13325     1       NaN
2369014  9222539910510672930  13378     1       NaN
2369015  9222539910510672930  13919     1       NaN
2369016  9222539910510672930  14013     1       NaN
2369017  9222539910510672930  14072     1       NaN
2369018  9222539910510672930  14398     1       NaN
2369019  9222539910510672930  16891     1       NaN
2369020  9222539910510672930  17358     1       NaN
2369021  9222539910510672930  17587     1       NaN
2369022  9222539910510672930  18039     1       NaN
2369023  9222539910510672930  18686     1       NaN
2369024  9222539910510672930  18837     1       NaN

[2369025 rows x 4 columns]

In [63]:
gbmerged = gbmerged.dropna(subset=['trianrow'])

In [64]:
gbmerged

                   device_id    app  size  trianrow
0       -9222956879900151005    548    18   21594.0
1       -9222956879900151005   1096    18   21594.0
2       -9222956879900151005   1248    26   21594.0
3       -9222956879900151005   1545    12   21594.0
4       -9222956879900151005   1664    18   21594.0
5       -9222956879900151005   1848    32   21594.0
6       -9222956879900151005   2236    28   21594.0
7       -9222956879900151005   2350    28   21594.0
8       -9222956879900151005   2626    27   21594.0
9       -9222956879900151005   3384    30   21594.0
10      -9222956879900151005   4227    18   21594.0
11      -9222956879900151005   4409    19   21594.0
12      -9222956879900151005   4832    18   21594.0
13      -9222956879900151005   5076    26   21594.0
14      -9222956879900151005   5253    18   21594.0
15      -9222956879900151005   5506    18   21594.0
16      -9222956879900151005   5559     1   21594.0
17      -9222956879900151005   5884    18   21594.0
18      -9222956879900151005   6195    21   21594.0
19      -9222956879900151005   6756    19   21594.0
20      -9222956879900151005   7378    26   21594.0
21      -9222956879900151005   7586    18   21594.0
22      -9222956879900151005   7591    15   21594.0
23      -9222956879900151005   7673    18   21594.0
24      -9222956879900151005   7684    18   21594.0
25      -9222956879900151005   7735    18   21594.0
26      -9222956879900151005   7774    20   21594.0
27      -9222956879900151005   8137    21   21594.0
28      -9222956879900151005   8198    20   21594.0
29      -9222956879900151005   8372    18   21594.0
...                      ...    ...   ...       ...
2368796  9220914901466458680   2459    25    5276.0
2368797  9220914901466458680   3384    25    5276.0
2368798  9220914901466458680   3627    44    5276.0
2368799  9220914901466458680   3706    23    5276.0
2368800  9220914901466458680   3909    25    5276.0
2368801  9220914901466458680   4196    25    5276.0
2368802  9220914901466458680   4597    25    5276.0
2368803  9220914901466458680   5800    44    5276.0
2368804  9220914901466458680   5810    23    5276.0
2368805  9220914901466458680   6336    25    5276.0
2368806  9220914901466458680   6442    25    5276.0
2368807  9220914901466458680   9454    25    5276.0
2368808  9220914901466458680   9517    23    5276.0
2368809  9220914901466458680   9673    25    5276.0
2368810  9220914901466458680   9784    25    5276.0
2368811  9220914901466458680  10420    25    5276.0
2368812  9220914901466458680  10643    25    5276.0
2368813  9220914901466458680  10758    25    5276.0
2368814  9220914901466458680  12183    25    5276.0
2368815  9220914901466458680  13919    25    5276.0
2368816  9220914901466458680  13938    25    5276.0
2368817  9220914901466458680  14636    25    5276.0
2368818  9220914901466458680  15408    25    5276.0
2368819  9220914901466458680  16155    24    5276.0
2368820  9220914901466458680  16715    25    5276.0
2368821  9220914901466458680  17445    23    5276.0
2368822  9220914901466458680  17453    25    5276.0
2368823  9220914901466458680  17606    25    5276.0
2368824  9220914901466458680  18686    25    5276.0
2368825  9220914901466458680  19217     1    5276.0

[915632 rows x 4 columns]

In [67]:
from scipy.sparse import csr_matrix, hstack
apps_train = csr_matrix((np.ones(gbmerged.shape[0]), (gbmerged.trianrow, gbmerged.app)), shape=(gender_age_train.shape[0],napps))

In [69]:
apps_train.shape

(74645, 19237)