In [1]:
import numpy as np
import pandas as pd
train_set = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')

In [2]:
train_set.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949